/*general styles*/

body {
    font-family: 'Lato', sans-serif;
     background: url(../images/background.jpg) no-repeat center top;
    background-size: cover;
}


/*homepage*/

#homepage-background {
    background: url(../images/background.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#logo {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 100px;
}


#headshot {
    position: absolute;
    bottom: 0;
}

#headshot img {
    max-width: 100%;
    margin: 0 auto;
}


/*style for bio*/

.bio {
    color: white;
    background: black;
    text-transform: uppercase;
    clear: both;
    height: 100vh;
}

.bold {
    font-weight: 700italic;
}


#meet {
    text-align: center;
    padding-top: 10%;
}

.bio p {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    line-height: 120%;
    font-weight: 100;
    font-size: 14px;
    margin-top: -3em;
}

/*gallery style*/
.swiper-container {
    height: 100vh;
    background: url(../images/background.jpg) no-repeat center top;
}

.swiper-slide {
    width: 375px;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*update*/
#posted{
    text-align: center;
    padding-top: 35%;
}

.updates{
    font-family: Lato;
    color: white;
    background: black;
    text-transform: uppercase;
    clear: both;
    height: 100vh;
    text-align: center;
}

.updates input[type="email"] {
    color: white; 
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px; 
}

.updates button{
    color: gray;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
}

.updates input[type="email"], button{
    text-transform: uppercase;
    border-radius: 5px;
    background: rgba(128,128,128,.3);
}


#social{
    background: black;
}

#social img{
    text-align: center;
    width: 15%;
}

/*tablets and above*/

@media (min-width: 690px) {
#logo{
    text-align: center;
    margin-left: 26%;
    margin-top: 1%;
    width: 89%;
}

#headshot{
    max-width: 70%;
    float: left;
}

#meet, #posted{
    padding-top: 5%;
}

.swiper-slide{
    width:400px;
}

.bio p{
    padding-top: 4%;
    font-size: 16px;
    line-height: 150%;
}

#social{
    width: 50%;
    text-align: center;
    margin-top: 20%;
    margin: 0 auto;
}
    }